:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;

    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}

body {
    font-family: var(--font-family);
    color: var(--slate);
    background-color: var(--white);
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    cursor: pointer;
    border: none;

    padding: 0;
}

ul,
ol {
    list-style-type: none;

    padding-left: 0;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

input {
    padding: 0;
}

:focus {
    outline: none;
}

.section {
    padding: 96px 0;
}

.container {
    width: 288px;
    padding: 0 1px;
    margin: 0 auto;
}

/* Header */
.header {
    padding: 16px 0;
}

.header .container {
    display: flex;
    align-items: center;
}

/* Navigation */
.header-navigation {}

/* Logo */
.header-logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);

    margin-right: 149px;
}

.header-logo-accent {
    color: var(--navy-blue);
}

/* Mobile menu */
.header-mobile-menu-button {
    background-color: transparent;
    border: none;

    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-mobile-menu-icon {
    fill: #2f2f37;

    width: 18px;
    height: 16px;
}

/* Hero section */
.hero-section {
    background-color: var(--navy-blue);

    padding: 72px 0;
}

.hero-section .container {}

.hero-title {
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--white);

    width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    background-color: var(--iris);
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

    width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--ocean);
}

/* Features section */
.features-title {
    display: none;
}

.features-list {}

.features-item:not(:last-child) {
    margin-bottom: 72px;
}

.features-sub-title {
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);

    margin-bottom: 8px;
}

.features-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Team section */
.team-title {
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);

    margin-bottom: 72px;
}

.team-list {
    width: 264px;
    margin: 0 auto;
}

.team-item {
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

    padding-bottom: 24px;
}

.team-item:not(:last-child) {
    margin-bottom: 72px;
}

.team-image {
    margin-bottom: 32px;
}

.team-item-container {
    text-align: center;

    margin: 0 auto;
}

.team-sub-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);

    margin-bottom: 8px;
}

.team-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    margin-bottom: 8px;

}

.team-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.team-social-item {}

.team-social-link {
    background-color: var(--iris);
    border-radius: 50%;

    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-item:hover .team-social-link {
    background-color: var(--ocean);
}

.team-social-link:focus {
    background-color: var(--ocean);
}

.team-social-icon {
    width: 16px;
    height: 16px;
}

/* Portfolio section */
.portfolio-title {
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);

    margin-bottom: 72px;
}

.portfolio-list {
    width: 288px;
}

.portfolio-item {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover,
.portfolio-item:focus-within {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


.portfolio-item:not(:last-child) {
    margin-bottom: 48px;
}

.portfolio-link {
    color: inherit;
}

.portfolio-image {}

.portfolio-overlay {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
    background-color: var(--iris);

    width: 288px;
    height: 280px;
    padding: 40px 32px;
}

.portfolio-overlay-description {}

.portfolio-item-container {
    padding: 32px 16px;
}

.portfolio-sub-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);

    margin-bottom: 8px;
}

.portfolio-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Footer */
.footer {}

.footer-container {}

.footer-logo-container {}

.footer-logo {}

.footer-description {}

/* Social  */
.footer-social-container {}

.footer-social-title {}

.footer-social-list {}

.footer-social-list-item {}

.footer-social-list-link {}

.footer-social-list-icon {}

/* Subscription */
.footer-subscription-container {}

.footer-subscription-title {}

.footer-subscription-form {}

.footer-subscription-label {}

.footer-subscription-input {}

.footer-subscription-button {}

.footer-subscription-icon {}