:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;

    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}

body {
    font-family: var(--font-family);
    color: var(--slate);
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    cursor: pointer;

    padding: 0;
}

ul,
ol {
    list-style-type: none;

    padding-left: 0;
    margin: 0;
}

img {
    display: block;
}

input {
    padding: 0;
}

/* Header */
.header {}

.header-container {}

/* Navigation */
.header-navigation {}

.header-logo {}

/* Mobile menu */
.header-mobile-menu-button {}

.header-mobile-menu-icon {}

/* Hero section */
.hero-section {}

.hero-container {}

.hero-title {}

.hero-button {}

/* Features section */
.features-section {}

.features-container {}

.features-title {}

.features-list {}

.features-item {}

.features-sub-title {}

.features-description {}

/* Team section */
.team-section {}

.team-container {}

.team-title {}

.team-list {}

.team-item {}

.team-image {}

.team-item-container {}

.team-sub-title {}

.team-description {}

.team-social-list {}

.team-social-item {}

.team-social-link {}

.team-social-icon {}

/* Portfolio section */
.portfolio-section {}

.portfolio-container {}

.portfolio-title {}

.portfolio-list {}

.portfolio-item {}

.portfolio-image {}

.portfolio-sub-title {}

.portfolio-description {}

/* Footer */
.footer {}

.footer-container {}

.footer-logo-container {}

.footer-logo {}

.footer-description {}

/* Social  */
.footer-social-container {}

.footer-social-title {}

.footer-social-list {}

.footer-social-list-item {}

.footer-social-list-link {}

.footer-social-list-icon {}

/* Subscription */
.footer-subscription-container {}

.footer-subscription-title {}

.footer-subscription-form {}

.footer-subscription-label {}

.footer-subscription-input {}

.footer-subscription-button {}

.footer-subscription-icon {}