/* #region Root */
:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;

    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}

/* #endregion Root */

/* #region Base */
body {
    font-family: var(--font-family);
    color: var(--slate);
    background-color: var(--white);
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    cursor: pointer;
    border: none;

    padding: 0;
}

ul,
ol {
    list-style-type: none;

    padding-left: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

address {
    font-style: normal;
}

input {
    padding: 0;
}

/* #endregion Base */

/* #region Common */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

:focus {
    outline: none;
}

.section {
    padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
    .section {
        padding: 120px 0;
    }
}

.container {
    width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media only screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        padding: 0 15px;
    }
}

/* #endregion Common */

/* #region Header */
.header {
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);

    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .header .container {
        display: flex;
        align-items: center;
    }
}

/* #region Navigation */
@media only screen and (min-width: 768px) {
    .header-nav {
        display: flex;
        align-items: center;
    }
}

.header-logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);

    padding: 17.5px 0;
    display: inline-block;
}

@media only screen and (min-width: 768px) {
    .header-logo {
        margin-right: 120px;
    }
}

@media only screen and (min-width: 1158px) {
    .header .container {
        justify-content: space-between;
    }

    .header-logo {
        padding: 25.5px 0;
        margin-right: 76px;
    }
}

.header-logo-accent {
    color: var(--navy-blue);
}

.nav-list {
    display: none;
}

@media only screen and (min-width: 768px) {
    .nav-list {
        margin-right: 121px;
        display: flex;
        gap: 40px;
    }

    .nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--navy-blue);

        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link.current::after {
        content: "";
        background-color: var(--ocean);
        border-radius: 2px;

        width: 48px;
        height: 4px;
        display: block;
        position: absolute;
        bottom: -1px;
    }

    .nav-link:active {
        color: var(--ocean);
    }
}

@media only screen and (min-width: 1158px) {

    .nav-link:hover,
    .nav-link:focus {
        color: var(--ocean);
    }
}

/* #endregion Navigation */

/* #region Address */

.address-list {
    display: none;
}

@media only screen and (min-width: 768px) {
    .address-list {
        display: block
    }

    .address-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--slate);

        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-link.tablet-top {
        padding-top: 16px;
        padding-bottom: 6px;
    }

    .address-link.tablet-bottom {
        padding-top: 6px;
        padding-bottom: 16px;
    }

    .address-link:active {
        color: var(--ocean);
    }
}

@media only screen and (min-width: 1158px) {
    .address-list {
        display: flex;
        flex-direction: row-reverse;
        gap: 40px;
    }

    .address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .address-link.desktop,
    .address-link.desktop {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .address-link:hover,
    .address-link:focus {
        color: var(--ocean);
    }
}

/* #endregion Address */

/* #region Mobile Menu Button */
.header-mobile-menu-button {
    background-color: transparent;
    border: none;

    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 16px;
    right: 16px;
}

@media (min-width: 768px) {
    .header-mobile-menu-button {
        display: none;
    }
}

.header-mobile-menu-icon {
    fill: #2f2f37;

    width: 100%;
    height: 100%;
}

/* #endregion Mobile Menu Button */

/* #endregion Header */

/* #region Hero Section */
.hero {
    background-color: var(--navy-blue);
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);

    max-width: 1440px;
    padding: 72px 0;
    margin: 0 auto;
}

@media only screen and (min-resolution:192dpi) {
    .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-@2x.jpg);
    }
}

@media only screen and (min-width:768px) {
    .hero {
        padding: 112px 0;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-tablet@1x.jpg);
    }
}

@media only screen and (min-width:768px) and (min-resolution:192dpi) {
    .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-tablet@2x.jpg);
    }
}

@media only screen and (min-width:1158px) {
    .hero {
        padding: 188px 0;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-desktop@1x.jpg);
    }
}

@media only screen and (min-width:1158px) and (min-resolution:192dpi) {
    .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-desktop@2x.jpg);
    }
}

.hero-title {
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--white);

    width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        text-transform: none;

        width: 496px;
        margin-bottom: 36px;
    }
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    background-color: var(--iris);
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

    width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:active {
    background-color: var(--ocean);
}

@media only screen and (min-width: 1158px) {

    .hero-button:hover,
    .hero-button:focus {
        background-color: var(--ocean);
    }
}

/* #endregion Hero Section */

/* #region Features Section */
.features-title {
    display: none;
}

@media only screen and (min-width: 768px) {
    .features-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
}

@media only screen and (min-width: 1158px) {
    .features-list {
        flex-wrap: nowrap;
        row-gap: 0;
    }
}

@media only screen and (min-width: 768px) {
    .features-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

.features-item:not(:last-child) {
    margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
    .features-item:not(:last-child) {
        margin-bottom: 0;
    }
}

.features-thumb {
    display: none;
}

@media only screen and (min-width: 1158px) {
    .features-thumb {
        background-color: var(--cloud);
        border: 1px solid var(--light-slate);
        border-radius: 4px;

        width: 264px;
        height: 112px;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.features-sub-title {
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);

    margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
    .features-sub-title {
        text-align: left;
    }
}

@media only screen and (min-width: 1158px) {
    .features-sub-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
}

.features-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media only screen and (min-width: 1158px) {
    .features-description {
        font-weight: 400;
    }
}

/* #endregion Features Section */

/* #region Team Section */
.section.team {
    background-color: var(--cloud);
}

.team-title {
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);

    margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
    .team-list {
        display: flex;
        flex-wrap: wrap;
        gap: 64px 24px;
        justify-content: center;
    }
}

@media only screen and (min-width: 1158px) {
    .team-list {
        display: flex;
        justify-content: center;
        row-gap: 0;
    }
}

.team-item {
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

    width: 264px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .team-item {
        margin: 0;
    }
}

.team-item:not(:last-child) {
    margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
    .team-item:not(:last-child) {
        margin-bottom: 0;
    }
}

.team-item-container {
    text-align: center;

    padding: 32px 16px;
}

.team-sub-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);

    margin-bottom: 8px;
}

.team-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    margin-bottom: 8px;

}

.team-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.team-social-link {
    background-color: var(--iris);
    border-radius: 50%;

    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:active {
    background-color: var(--ocean);
}

@media only screen and (min-width: 1158px) {
    .team-item:hover .team-social-link {
        background-color: var(--ocean);
    }

    .team-social-link:focus {
        background-color: var(--ocean);
    }
}

.team-social-icon {
    fill: var(--cloud);
}

/* #endregion Team Section */

/* #region Portfolio Section */
.portfolio-title {
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);

    margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
}

@media only screen and (min-width: 1158px) {
    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        gap: 48px 24px;
    }
}

.portfolio-item {
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 288px;
}

@media only screen and (min-width: 768px) {
    .portfolio-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media only screen and (min-width: 1158px) {
    .portfolio-item {
        flex-basis: calc((100% - 48px) / 3);
    }
}

@media only screen and (min-width: 1158px) {

    .portfolio-item:hover,
    .portfolio-item:focus-within {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
}

.portfolio-item:not(:last-child) {
    margin-bottom: 48px;
}

@media only screen and (min-width: 768px) {
    .portfolio-item:not(:last-child) {
        margin-bottom: 0;
    }
}

.portfolio-link {
    color: currentColor;
}

.portfolio-thumb {
    overflow: hidden;
    position: relative;
}

.portfolio-image {
    width: 100%;
}

.portfolio-overlay {
    display: none;
}

@media only screen and (min-width: 1158px) {
    .portfolio-overlay {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--white);
        background-color: var(--iris);

        width: 100%;
        height: 100%;
        padding: 40px 32px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-link:hover .portfolio-overlay,
    .portfolio-link:focus .portfolio-overlay {
        transform: translateY(0);
    }
}

.portfolio-item-container {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;

    padding: 32px 16px;
}

.portfolio-sub-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);

    margin-bottom: 8px;
}

.portfolio-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* #endregion Portfolio Section */

/* #region Footer */
.footer {
    background-color: var(--navy-blue);

    padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }
}

@media only screen and (min-width: 768px) {
    .footer .container {
        width: 528px;
    }
}

@media only screen and (min-width: 1158px) {
    .footer .container {
        width: 1158px;
        display: flex;
        gap: 80px;
    }
}

@media only screen and (min-width: 768px) {
    .logo-social-container {
        width: 496px;
        display: flex;
        gap: 24px;

        margin-bottom: 72px;
    }
}

@media only screen and (min-width: 1158px) {
    .logo-social-container {
        width: 592px;
        display: flex;
        gap: 120px;

        margin-bottom: 0;
    }
}

/* #region Logo & CTA */
@media only screen and (min-width: 768px) {
    .footer-logo-container {
        width: 264px;
    }
}

.footer-logo {
    font-family: var(--second-family);
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    text-align: center;

    display: block;
    margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
    .footer-logo {
        text-align: left;
    }
}

.footer-logo-accent {
    color: var(--cloud);
}

.footer-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);

    margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
    .footer-description {
        margin-bottom: 0;
    }
}

/* #endregion Logo & CTA */

/* #region Social  */
@media only screen and (min-width: 768px) {
    .footer-social-container {
        width: 208px;
    }
}

.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
    text-align: center;

    margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
    .footer-social-title {
        text-align: left;
    }
}

.footer-social-list {
    display: flex;
    justify-content: center;
    gap: 16px;

    margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
    .footer-social-list {
        margin-bottom: 0;
    }
}

.footer-social-link {
    background-color: var(--iris);
    border-radius: 50%;

    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:active {
    background-color: var(--green);
}

@media only screen and (min-width: 1158px) {

    .footer-social-link:hover,
    .footer-social-link:focus {
        background-color: var(--green);
    }
}

.footer-social-icon {
    fill: var(--cloud);
}

/* #endregion Social  */

/* #region Subscription */
@media only screen and (min-width: 768px) {
    .footer-subscription-container {
        width: 453px;
    }
}

.footer-subscription-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
    text-align: center;

    margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
    .footer-subscription-title {
        text-align: left;
    }
}

@media only screen and (min-width: 768px) {
    .footer-subscription-form {
        display: flex;
        gap: 24px;
    }
}

.footer-subscription-input {
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;

    width: 288px;
    height: 40px;
    padding: 0 16px;
    display: block;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
    .footer-subscription-input {
        width: 264px;

        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1158px) {
    .footer-subscription-input {
        opacity: 1;
    }
}

.footer-subscription-input::placeholder {
    color: var(--white);
}

.footer-subscription-input:focus-within {
    opacity: 0.6;
}

@media only screen and (min-width: 1158px) {
    .footer-subscription-input:focus-within {
        opacity: 1;
    }
}

.footer-subscription-button {
    background-color: var(--iris);
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;

    width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscription-button:active {
    background-color: var(--ocean);
}

@media only screen and (min-width: 1158px) {

    .footer-subscription-button:hover,
    .footer-subscription-button:focus {
        background-color: var(--ocean);
    }
}

.footer-subscription-icon {
    fill: var(--white);
}

/* #endregion Subscription */

/* #endregion Footer */

/* #region Mobile Menu Modal */
.mobile-menu {
    background-color: var(--white);

    width: 100%;
    height: 100%;
    padding: 72px 16px 40px;
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 500ms linear, visibility 500ms linear;
}

.mobile-menu.hidden {
    opacity: 0;
    visibility: hidden;
}

.mobile-menu-button {
    background-color: rgba(231, 233, 252, 0.1);
    border: 1px solid var(--cornflower);
    border-radius: 50%;

    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-button:active {
    background-color: var(--ocean);
}

.mobile-menu-button-icon {
    fill: var(--navy-blue);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-button:active .mobile-menu-button-icon {
    fill: var(--white);
}


.mobile-menu-nav-list {
    margin-bottom: 168px;
}

.mobile-menu-nav-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--navy-blue);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav-link:active {
    color: var(--ocean);
}

.mobile-menu-address-list {
    margin-bottom: 48px;
}

.mobile-menu-address-item:not(:last-child) {
    margin-bottom: 24px;
}

.mobile-menu-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: currentColor;
}

.mobile-menu-address-link:active {
    color: var(--iris);
}

.mobile-menu-social-list {
    display: flex;
    gap: 40px;
}

.mobile-menu-social-link {
    background-color: var(--iris);
    border-radius: 50%;

    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-link:active {
    background-color: var(--green);
}

.mobile-menu-social-icon {
    fill: var(--cloud);
}

/* #endregion Mobile Menu Modal */

/* #region Mobile Contacts Modal*/
.backdrop {
    background-color: rgba(46, 47, 66, 0.4);

    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.hidden {
    opacity: 0;
    visibility: hidden;
}

.contacts.modal {
    background: var(--dairy);
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);

    width: 288px;
    height: 623px;
    padding: 72px 16px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 768px) {
    .contacts.modal {
        width: 408px;
        height: 584px;
    }
}

.contacts .close-button {
    background-color: var(--cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .close-button:active {
    background-color: var(--ocean);
}

@media only screen and (min-width: 1158px) {

    .contacts .close-button:hover,
    .contacts .close-button:focus {
        background-color: var(--ocean);
    }
}

.contacts .close-icon {
    fill: var(--navy-blue);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .close-button:active .close-icon {
    fill: var(--white);
}

@media only screen and (min-width: 1158px) {

    .contacts .close-button:hover .close-icon,
    .contacts .close-button:focus .close-icon {
        fill: var(--white);
    }
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);

    margin-bottom: 16px;
}

.modal-form-field {
    width: 256px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .modal-form-field {
        width: 360px;
    }
}

.modal-form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);

    display: block;

    margin-bottom: 4px;
}

.modal-form-input-container {
    position: relative;

    margin-bottom: 8px;
}

.modal-form-input {
    border: 1px solid var(--navy-blue-modal);
    border-radius: 4px;

    width: 100%;
    height: 40px;
    padding: 11px 34px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 1158px) {
    .modal-form-input {
        padding: 11px 38px;
    }
}

.modal-form-input:focus {
    border-color: var(--iris);
}

.modal-form-icon.person {
    top: 11px;
    left: 16px;
}

.modal-form-icon {
    position: absolute;
    top: 8px;
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-form-input:focus+.modal-form-icon {
    fill: var(--iris);
}

.modal-form-input.textarea {
    resize: none;
    font-size: 12px;

    width: 100%;
    height: 120px;
    padding: 8px 16px;

    margin-bottom: 16px;
}

.modal-form-input.textarea::placeholder {
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
    opacity: 0.5;
}

.modal-form-label.policy {
    margin-bottom: 0;
}

.policy-container {
    width: 256px;
    display: flex;
    align-items: center;
    gap: 8px;

    margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
    .policy-container {
        width: 360px;
        margin: 0 auto;

        margin-bottom: 24px;
    }
}

.custom-checkbox {
    border-radius: 2px;
    border: 1px solid var(--navy-blue-modal);

    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox-icon {
    fill: transparent;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 1158px) {
    .checkbox:focus+.modal-form-label .custom-checkbox {
        border-color: var(--ocean)
    }
}

.checkbox:checked+.modal-form-label .custom-checkbox {
    background-color: var(--ocean);
    border-color: var(--ocean);
}

.checkbox:checked+.modal-form-label .custom-checkbox-icon {
    fill: var(--cloud);
}

.policy-link {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--iris);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.policy-link:active {
    color: var(--ocean);
}

@media only screen and (min-width: 1158px) {

    .policy-link:hover,
    .policy-link:focus {
        color: var(--ocean);
    }
}

.modal-form-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    background-color: var(--iris);
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

    width: 169px;
    height: 56px;
    margin: 0 auto;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:active {
    background-color: var(--ocean);
}

@media only screen and (min-width: 1158px) {

    .modal-form-button:hover,
    .modal-form-button:focus {
        background-color: var(--ocean);
    }
}

/* #endregion Mobile Contacts Modal*/